# WordPress #
############
# Exclude composer dependencies in the vendor directory
/vendor

# Exclude WordPress core
/wordpress/*
/wordpress/wp-includes/
/wordpress/wp-admin/

# Include wp-content, then exclude each of the subdirectories
!/wordpress/wp-content
/wordpress/wp-content/*

## Themes: include the directory, exclude all subdirectories except those specified
!/wordpress/wp-content/themes/
/wordpress/wp-content/themes/*
# Include custom themes here
!/wordpress/wp-content/themes/ncmaz
!/wordpress/wp-content/themes/ncmaz-child

## Plugins: include the directory, exclude all subdirectories except those specified
!/wordpress/wp-content/plugins/
/wordpress/wp-content/plugins/*
# Include custom plugins here
!/wordpress/wp-content/plugins/ncmaz-core
!/wordpress/wp-content/plugins/ncmaz-frontend
!/wordpress/wp-content/plugins/wp-acf-vc-bridge
!/wordpress/wp-content/plugins/advanced-custom-fields-pro

/wp-content
/wp-admin
/wp-includes
wordpress/wp-config-local.php
wp-cli.local.yml
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
readme.html
license.txt
index.php
.vscode

# @TODO writable paths
wordpress/wp-content/cache/
wordpress/wp-content/backups/

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
!wordpress/wp-includes/**/*.gz

# Logs and databases #
######################
*.log
*.sql

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Thumbs.db
._*

# Vim generated files #
######################
*.un~

# SASS #
##########
.sass-cache

# node_modules #
wordpress/wp-content/themes/**/node_modules/
wordpress/wp-content/plugins/**/node_modules/